@use "sass:map";

$grid-utils : (
    "grid-cols" : (
        property: grid-template-columns,
        responsive: true,
        class: grid-cols,
        values: (
            1: repeat(1, minmax(0, 1fr)),
            2: repeat(2, minmax(0, 1fr)),
            3: repeat(3, minmax(0, 1fr)),
            4: repeat(4, minmax(0, 1fr)),
            5: repeat(5, minmax(0, 1fr)),
            6: repeat(6, minmax(0, 1fr)),
            7: repeat(7, minmax(0, 1fr)),
            8: repeat(8, minmax(0, 1fr)),
            9: repeat(9, minmax(0, 1fr)),
            10: repeat(10, minmax(0, 1fr)),
            11: repeat(11, minmax(0, 1fr)),
            12: repeat(12, minmax(0, 1fr)),
        )
    )
);

$grid-span-utils : (
    "grid-span" : (
        property: grid-column,
        responsive: true,
        class: grid-span,
        values: (
            1: span 1,
            2: span 2,
            3: span 3,
            4: span 4,
            5: span 5,
            6: span 6,
            7: span 7,
            8: span 8,
            9: span 9,
            10: span 10,
            11: span 11,
            12: span 12,
        )
    )
);

$grid-row-span-utils : (
    "grid-row-span" : (
        property: grid-row,
        responsive: true,
        class: grid-row-span,
        values: (
            1: span 1,
            2: span 2,
            3: span 3,
            4: span 4,
            5: span 5,
            6: span 6,
            7: span 7,
            8: span 8,
            9: span 9,
            10: span 10,
            11: span 11,
            12: span 12,
        )
    )
);

$utilities: map.merge($utilities, $grid-utils);
$utilities: map.merge($utilities, $grid-span-utils);
$utilities: map.merge($utilities, $grid-row-span-utils);
