.searchable-picture {
    position: relative;
    width: 3rem;
    max-width: 3rem;
    height: 3rem;
    max-height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.searchable-display {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(105%);
    max-height: 15rem;
    background-color: white;
    overflow: auto;
    z-index: 1002;

    & > div {
        &:not(:last-child) {
            border-bottom: 1px solid var(--bs-grey-800);
        }
        
        &:hover {
            background: var(--bs-grey-800);
        }
    }
}

input[type="number"] {
    appearance: textfield;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
    }
}

.error-tooltip {
    --bs-tooltip-bg: var(--bs-danger);
}

input[readonly]{
    border-color: transparent;
    border-bottom-color: var(--bs-primary);
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    &:focus, &:focus-visible, &:focus-within {
        outline: none;
        box-shadow: none;
        border-color: transparent;
        border-bottom-color: var(--bs-primary);
    }
}

.time-picker {
    position: relative;

    .time-picker-input-container {
        background: $input-bg;
        border: $input-border-width solid $input-border-color;
        border-radius: $input-border-radius;
        color: $input-color;
    
        display: flex;
        justify-content: space-between;
        gap: $input-btn-padding-x;
        cursor: pointer;
    
        font-size: $input-font-size;
        font-weight: $input-font-weight;
    
        padding: $input-padding-y $input-padding-x;
        overflow: hidden;
    
        &:has(input[disabled]) {
            background: $input-disabled-bg;
            border: $input-disabled-border-color;
            color: $input-disabled-color;
        }
    
        &:has(input:focus) {
            background: $input-focus-bg;
            border-color: $input-focus-border-color;
            color: $input-focus-color;
        }

        input {
            border: none;
            padding: 0;
            flex-shrink: 0;
            flex-grow: 1;
            text-align: center;

            &:focus-visible {
                outline: none;
            }
        }

        span {
            flex-shrink: 0;
            flex-grow: 0;
            text-align: center;
        }
    }

    .time-picker-dropdown {
        z-index: 50;
        display: none;
        max-height: 0;
        overflow: hidden;
        transition-behavior: allow-discrete;
        transition-property: display, max-height;
        padding: .5rem 0;

        position: absolute;
        bottom  : 0;
        left    : 0;
        right   : 0;
        transform: translateY(calc(100% + .25rem));

        .time-container {
            flex-shrink: 0;
            flex-grow: 1;
            overflow-x: hidden;
            overflow-y: auto;

            max-height: 200px;

            &::-webkit-scrollbar {
                width: .125rem;
            }

            &::-webkit-scrollbar-track {
                background-color: white;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--bs-primary);
            }
            
            div {
                padding: .5rem 1rem;
                background-color: var(--bs-white);
                cursor: pointer;

                &:hover {
                    background-color: var(--bs-grey-900);
                }

                &.focus {
                    background-color: var(--bs-grey-900);
                }
            }
        }

        &.open {
            @starting-style {
                display: flex;
            }

            display: flex;
            max-height: 200px;
        }
    }

    &:has(input:focus) {
        .time-picker-dropdown {
            @starting-style {
                display: flex;
            }

            display: flex;
            max-height: 200px;
        }
    }
}

