.searchable-picture {
    position: relative;
    width: 3rem;
    max-width: 3rem;
    height: 3rem;
    max-height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.searchable-display {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(105%);
    max-height: 15rem;
    background-color: white;
    overflow: auto;
    z-index: 1002;

    & > div {
        &:not(:last-child) {
            border-bottom: 1px solid var(--bs-grey-800);
        }
        
        &:hover {
            background: var(--bs-grey-800);
        }
    }
}

input[type="number"] {
    appearance: textfield;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
    }
}

.error-tooltip {
    --bs-tooltip-bg: var(--bs-danger);
}