.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    .navbar-nav {
        .navbar-link {
            transition-property: border-bottom-color, color;
            transition-duration: var(--transition-duration);
            transition-timing-function: ease-out;
            border-bottom: 4px solid transparent;
            color: var(--bs-dark);
            text-decoration: none;
            
            &:hover, &.active {
                color: var(--bs-primary);
                border-bottom-color: var(--bs-primary);
            }
        }
    }
}

.navbar-toggler {
    border-color: transparent;
}